<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="be.uantwerpen.msdl.icm.projectnature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="be.uantwerpen.msdl.icm.tooling.core.nature.ProcessModelerProjectNature">
         </run>
      </runtime>

   </extension>

</plugin>
