<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated metamodels -->
      <package
            uri="metamodels.process"
            class="be.uantwerpen.msdl.metamodels.process.ProcessPackage"
            genModel="model/metamodels.genmodel"/>
   </extension>

</plugin>
