<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated metamodels -->
      <package
            uri="http://proximatools.org/metamodels"
            class="org.proxima.ProximaPackage"
            genModel="model/metamodels.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated metamodels -->
      <package
            uri="http://proximatools.org/metamodels/ftg"
            class="org.proxima.ftg.FtgPackage"
            genModel="model/metamodels.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated metamodels -->
      <package
            uri="http://proximatools.org/metamodels/pm"
            class="org.proxima.pm.PmPackage"
            genModel="model/metamodels.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated metamodels -->
      <package
            uri="http://proximatools.org/metamodels/properties"
            class="org.proxima.properties.PropertiesPackage"
            genModel="model/metamodels.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated metamodels -->
      <package
            uri="http://proximatools.org/metamodels/resources"
            class="org.proxima.resources.ResourcesPackage"
            genModel="model/metamodels.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated metamodels -->
      <package
            uri="http://proximatools.org/metamodels/cost"
            class="org.proxima.cost.CostPackage"
            genModel="model/metamodels.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated metamodels -->
      <package
            uri="http://proximatools.org/metamodels/base"
            class="org.proxima.base.BasePackage"
            genModel="model/metamodels.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated metamodels -->
      <package
            uri="http://proximatools.org/metamodels/viewpoints"
            class="org.proxima.viewpoints.ViewpointsPackage"
            genModel="model/metamodels.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated enactment -->
      <package
            uri="http://proximatools.org/metamodels/enactment"
            class="org.proxima.enactment.EnactmentPackage"
            genModel="model/enactment.genmodel"/>
   </extension>

</plugin>
