<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="be.uantwerpen.msdl.icm.tooling.ui.category"
            name="ICM">
      </category>
      <wizard
            category="be.uantwerpen.msdl.icm.tooling.ui.category"
            class="be.uantwerpen.msdl.icm.tooling.ui.wizards.NewProjectWizard"
            id="be.uantwerpen.msdl.icm.tooling.ui.newproject"
            name="New ICM Project"
            preferredPerspectives="org.eclipse.pde.ui.PDEPerspective"
            project="true">
      </wizard>
      <wizard
            category="be.uantwerpen.msdl.icm.tooling.ui.category"
            class="be.uantwerpen.msdl.icm.tooling.ui.wizards.NewProcessModelWizard"
            finalPerspective="org.eclipse.sirius.ui.tools.perspective.modeling"
            id="be.uantwerpen.msdl.icm.tooling.ui.newprocess"
            name="New Process Model File"
            preferredPerspectives="org.eclipse.sirius.ui.tools.perspective.modeling,org.eclipse.pde.ui.PDEPerspective,org.eclipse.jdt.ui.JavaPerspective"
            project="false">
      </wizard>
   </extension>
   
   <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="be.uantwerpen.msdl.icm.tooling.ui.commands.DSEHandler"
           commandId="be.uantwerpen.msdl.icm.tooling.ui.commands.DSECommand">
     </handler>
      
  </extension>
   
  <extension
        point="org.eclipse.ui.commands">
        <command name="Execute DSE"
              id="be.uantwerpen.msdl.icm.tooling.ui.commands.DSECommand">
        </command>
  </extension>
   
   <extension point="org.eclipse.ui.menus">
    <menuContribution
          allPopups="false"
          locationURI="toolbar:org.eclipse.sirius.diagram.ui.tabbar?after=additions">
        <command
              commandId="be.uantwerpen.msdl.icm.tooling.ui.commands.DSECommand"
              icon="icons/hammer.png"
              id="org.eclipse.sirius.diagram.tabbar.test.action.on.diagramelement"
              label="Optimize process"
              tooltip="Optimize process">
        </command>
    	</menuContribution>
 	</extension>

</plugin>
