<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="be.uantwerpen.msdl.icm.tooling.ui.category"
            name="ICM">
      </category>
      <wizard
            category="be.uantwerpen.msdl.icm.tooling.ui.category"
            class="be.uantwerpen.msdl.icm.tooling.ui.wizards.NewProjectWizard"
            id="be.uantwerpen.msdl.icm.tooling.ui.newproject"
            name="New ICM Project"
            preferredPerspectives="org.eclipse.pde.ui.PDEPerspective"
            project="true">
      </wizard>
      <wizard
            category="be.uantwerpen.msdl.icm.tooling.ui.category"
            class="be.uantwerpen.msdl.icm.tooling.ui.wizards.NewProcessModelWizard"
            finalPerspective="org.eclipse.sirius.ui.tools.perspective.modeling"
            id="be.uantwerpen.msdl.icm.tooling.ui.newprocess"
            name="New Process Model File"
            preferredPerspectives="org.eclipse.sirius.ui.tools.perspective.modeling,org.eclipse.pde.ui.PDEPerspective,org.eclipse.jdt.ui.JavaPerspective"
            project="false">
      </wizard>
   </extension>
   
   <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="be.uantwerpen.msdl.icm.tooling.ui.commands.DSEHandler"
           commandId="be.uantwerpen.msdl.icm.tooling.ui.commands.DSECommand">
     </handler>
     <handler
           class="be.uantwerpen.msdl.icm.tooling.ui.commands.GenerationHandler"
           commandId="be.uantwerpen.msdl.icm.tooling.ui.commands.GenerateCommand">
     </handler>
     <handler
           class="be.uantwerpen.msdl.icm.tooling.ui.commands.ExecutionHandler"
           commandId="be.uantwerpen.msdl.icm.tooling.ui.commands.ExecuteCommand">
     </handler>
  </extension>
   
  <extension
        point="org.eclipse.ui.commands">
        <command name="Run DSE"
              id="be.uantwerpen.msdl.icm.tooling.ui.commands.DSECommand">
        </command>
        <command name="Generate artifacts"
              id="be.uantwerpen.msdl.icm.tooling.ui.commands.GenerateCommand">
        </command>
        <command name="Execute process"
              id="be.uantwerpen.msdl.icm.tooling.ui.commands.ExecuteCommand">
        </command>
  </extension>
   

	<extension point="org.eclipse.ui.menus">
		<!--
		<menuContribution
			allPopups="false"
				locationURI="toolbar:org.eclipse.sirius.diagram.ui.tabbar?after=additions">
        	<command
				commandId="be.uantwerpen.msdl.icm.tooling.ui.commands.DSECommand"
				icon="icons/hammer.png"
              	id="org.eclipse.sirius.diagram.tabbar.test.action.on.diagramelement2"
              	label="Optimize process"
              	tooltip="Optimize process">
        	</command>
   		</menuContribution>
   		-->

        
        <menuContribution
        	locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <separator
              name="be.uantwerpen.msdl.icm.tooling.ui.icm.separator.top"
              visible="true">
        </separator>
        <menu
              id="org.eclipse.sirius.diagram.ui.popup.icm"
              label="ICM">
           <visibleWhen
                 checkEnabled="false">
              <and>
                 <with
                       variable="activeEditorId">
                    <equals
                          value="org.eclipse.sirius.diagram.ui.part.SiriusDiagramEditorID">
                    </equals>
                 </with>
                 <with
                       variable="activeEditor">
                    <test
                          forcePluginActivation="true"
                          property="be.uantwerpen.msdl.icm.tooling.ui.isConcernedEditor">
                    </test>
                 </with>
              </and>
           </visibleWhen>
           <command
                 commandId="be.uantwerpen.msdl.icm.tooling.ui.commands.DSECommand"
                 icon="icons/hammer.png"
                 id="be.uantwerpen.msdl.icm.tooling.ui.menus.dse"
                 label="Optimize process"
                 style="push"
                 tooltip="Optimize process">
           </command>
           <command
                 commandId="be.uantwerpen.msdl.icm.tooling.ui.commands.GenerateCommand"
                 icon="icons/generate.png"
                 id="be.uantwerpen.msdl.icm.tooling.ui.menus.generate"
                 label="Generate artifacts"
                 style="push"
                 tooltip="Generate artifacts">
           </command>
           <command
                 commandId="be.uantwerpen.msdl.icm.tooling.ui.commands.ExecuteCommand"
                 icon="icons/execute.gif"
                 id="be.uantwerpen.msdl.icm.tooling.ui.menus.execute"
                 label="Execute process"
                 style="push"
                 tooltip="Execute process">
           </command>
        </menu>
        <separator
              name="be.uantwerpen.msdl.icm.tooling.ui.icm.separator.bottom"
              visible="true">
        </separator>
    	</menuContribution>
	</extension>
 <extension
       point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester
          class="be.uantwerpen.msdl.icm.tooling.ui.DiagramTester"
          id="be.uantwerpen.msdl.icm.tooling.ui.diagramTester"
          namespace="be.uantwerpen.msdl.icm.tooling.ui"
          properties="isConcernedEditor"
          type="org.eclipse.ui.IEditorPart">
    </propertyTester>
    <propertyTester
          class="be.uantwerpen.msdl.icm.tooling.ui.DiagramTester"
          id="be.uantwerpen.msdl.icm.tooling.ui.selectionTester"
          namespace="be.uantwerpen.msdl.icm.tooling.ui"
          properties="shouldActivateIcmMenu"
          type="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
    </propertyTester>
 </extension>

</plugin>
