<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="be.uantwerpen.msdl.icm.runtime.queries.RuntimeQueries" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:be.uantwerpen.msdl.icm.runtime.queries.RuntimeQueries" id="be.uantwerpen.msdl.icm.runtime.queries.RuntimeQueries">
      <query-specification fqn="be.uantwerpen.msdl.icm.runtime.queries.activeToken"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.runtime.queries.tokenInNode"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.runtime.queries.tokenInActivity"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.runtime.queries.activity"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.runtime.queries.fireable"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.runtime.queries.availableActivity"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.runtime.queries.availableFinish"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.runtime.queries.fireableToControl"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.runtime.queries.splitTokenInJoin"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.runtime.queries.joinable"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.runtime.queries.forkable"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.runtime.queries.subTokenOf"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.runtime.queries.siblingTokens"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.runtime.queries.directSiblingTokens"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.runtime.queries.tokensInDifferentNodes"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.runtime.queries.readyActivity"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.runtime.queries.runnigActivity"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.runtime.queries.doneActivity"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.runtime.queries.tokenInFork"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.runtime.queries.tokenInJoin"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.runtime.queries.tokenInDecision"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.runtime.queries.tokenInMerge"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.runtime.queries.finishedProcess"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.runtime.queries.enabledTransition"/>
    </group>
  </extension>
</plugin>
