<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.uantwerpen.be/msdl/icm/dsl/Icm"
			class = "be.uantwerpen.msdl.icm.dsl.icm.IcmPackage"
			genModel = "model/generated/Icm.genmodel" />
	</extension>
</plugin>
