<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated metamodels -->
      <package
            uri="metamodels.processmodel"
            class="org.proxima.processmodel.ProcessmodelPackage"
            genModel="model/metamodels.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated metamodels -->
      <package
            uri="metamodels.ftg"
            class="org.proxima.processmodel.ftg.FtgPackage"
            genModel="model/metamodels.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated metamodels -->
      <package
            uri="metamodels.pm"
            class="org.proxima.processmodel.pm.PmPackage"
            genModel="model/metamodels.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated metamodels -->
      <package
            uri="metamodels.properties"
            class="org.proxima.processmodel.properties.PropertiesPackage"
            genModel="model/metamodels.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated metamodels -->
      <package
            uri="metamodels.resources"
            class="org.proxima.processmodel.resources.ResourcesPackage"
            genModel="model/metamodels.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated metamodels -->
      <package
            uri="metamodels.cost"
            class="org.proxima.processmodel.cost.CostPackage"
            genModel="model/metamodels.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated metamodels -->
      <package
            uri="metamodels.base"
            class="org.proxima.processmodel.base.BasePackage"
            genModel="model/metamodels.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated metamodels -->
      <package
            uri="metamodels.viewpoints"
            class="org.proxima.processmodel.viewpoints.ViewpointsPackage"
            genModel="model/metamodels.genmodel"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated enactment -->
      <package
            uri="metamodels.enactment"
            class="org.proxima.enactment.EnactmentPackage"
            genModel="model/enactment.genmodel"/>
   </extension>

</plugin>
