<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="be.uantwerpen.msdl.process.dse.queries.Dsequeries" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:be.uantwerpen.msdl.process.dse.queries.Dsequeries" id="be.uantwerpen.msdl.process.dse.queries.Dsequeries"/>
  </extension>
</plugin>
