<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="be.uantwerpen.msdl.icm.queries.Icmqueries" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:be.uantwerpen.msdl.icm.queries.Icmqueries" id="be.uantwerpen.msdl.icm.queries.Icmqueries"/>
  </extension>
</plugin>
