<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="be.uantwerpen.msdl.icm.queries.general.GeneralPatterns" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:be.uantwerpen.msdl.icm.queries.general.GeneralPatterns" id="be.uantwerpen.msdl.icm.queries.general.GeneralPatterns">
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.general.controlFlow"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.general.intent"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.general.readIntentOnProperty"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.general.modifyIntentOnProperty"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.general.checkIntentOnProperty"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.general.contractIntentOnProperty"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.general.lockIntentOnProperty"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.general.releaseIntentOnProperty"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.general.controlFlowBetweenNodes"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.general.hardControlFlowBetweenActivities"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.general.softControlFlowBetweenActivities"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.general.independentNodes"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.general.independentNodes2"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.general.nodeControlOutput"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.general.nodeControlInput"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.general.compoundActivity"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.general.nodeDirectlyReachableFromNode"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.general.nodeGloballyReachableFromNode"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.general.parallelNodes"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.general.associatedProperties"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.general.propertyDirectlyReachableFromProperty"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.general.propertyGloballyReachableFromProperty"/>
    </group>
  </extension>
  <extension id="be.uantwerpen.msdl.icm.queries.validation.Validation" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:be.uantwerpen.msdl.icm.queries.validation.Validation" id="be.uantwerpen.msdl.icm.queries.validation.Validation">
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.validation.finalNotReachableFromNode"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.validation.initDoesNotReachNode"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.validation.initNodeWithControlIn"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.validation.initNodeWithNoControlIn"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.validation.initNodeWithInvalidNumberOfControlOut"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.validation.finalNodeWithInvalidNumberOfIns"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.validation.finalNodeWithControlOut"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.validation.finalNodeWithNoControlOut"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.validation.forkNodeWithInvalidNumberOfIns"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.validation.forkNodeWithInvalidNumberOfOuts"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.validation.joinNodeWithInvalidNumberOfIns"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.validation.joinNodeWithInvalidNumberOfOuts"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.validation.decisionNodeWithInvalidNumberOfIns"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.validation.decisionNodeWithInvalidNumberOfOuts"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.validation.activityWithInvalidNumberOfControlIn"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.validation.activityWithInvalidNumberOfControlOut"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.validation.controlFlowWithInvalidNumberOfControlFrom"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.validation.controlFlowWithInvalidNumberOfControlTo"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.validation.redundantControlFlows"/>
    </group>
  </extension>
  <extension id="be.uantwerpen.msdl.icm.queries.simulator.SimulatorQueries" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:be.uantwerpen.msdl.icm.queries.simulator.SimulatorQueries" id="be.uantwerpen.msdl.icm.queries.simulator.SimulatorQueries">
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.simulator.costInCircle"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.simulator.cost"/>
    </group>
  </extension>
  <extension id="be.uantwerpen.msdl.icm.queries.inconsistencies.UnmanagedPatterns" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:be.uantwerpen.msdl.icm.queries.inconsistencies.UnmanagedPatterns" id="be.uantwerpen.msdl.icm.queries.inconsistencies.UnmanagedPatterns">
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.inconsistencies.unmanagedReadModify"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.inconsistencies.unmanagedModifyModify"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.inconsistencies.unmanaged"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.inconsistencies.unmanaged2"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.inconsistencies.unmanaged3"/>
    </group>
  </extension>
  <extension id="be.uantwerpen.msdl.icm.queries.inconsistencies.InconsistencyManagementPatterns" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:be.uantwerpen.msdl.icm.queries.inconsistencies.InconsistencyManagementPatterns" id="be.uantwerpen.msdl.icm.queries.inconsistencies.InconsistencyManagementPatterns">
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.inconsistencies.checkProperty"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.inconsistencies.contract"/>
    </group>
  </extension>
  <extension id="be.uantwerpen.msdl.icm.queries.inconsistencies.InconsistencyPatterns" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:be.uantwerpen.msdl.icm.queries.inconsistencies.InconsistencyPatterns" id="be.uantwerpen.msdl.icm.queries.inconsistencies.InconsistencyPatterns">
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.inconsistencies.sharedProperty"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.inconsistencies.sequentialSharedProperty"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.inconsistencies.parallelSharedProperty"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.inconsistencies.readModifySharedProperty"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.inconsistencies.modifyModifySharedProperty"/>
      <query-specification fqn="be.uantwerpen.msdl.icm.queries.inconsistencies.forkOutControl"/>
    </group>
  </extension>
</plugin>
